.header {
    overflow: hidden;
    height: 60px;
}

.header .toggleIcon {
    display: none;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
}

.header .logoName {
    font-size: 25px;
    font-weight: 500;

}

.header a:hover {
    background-color: rgb(174, 172, 172);
    color: black;
}

.header .logoName:hover {
    background-color: white;
}

.header .loginIcon {
    display: none;
}



.header a.active {
    background-color: #04AA6D;
    color: white;
}

@media only screen and (max-width: 576px) {
    .header {
        overflow: hidden;
        height: 60px;
        display: flex;
    }

    .header button {
        background-color: white;
    }

    .header .toggleIcon {
        width: fit-content;
        display: inline;
        position: absolute;
        top: 15px;
        left: 0;
    }


    .header .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 60px;
    }

    .header .Search {
        position: absolute;
        top: 328px;
    }

    .header .cart {
        width: fit-content;
        display: inline;
        position: absolute;
        top: 5px;
        right: 60px;
    }

    .header .loginIcon {
        width: fit-content;
        display: inline;
        position: absolute;
        top: 5px;
        right: 10px;
    }
}