@media only screen and (max-width: 2000px) {
    .header {
        /* overflow: hidden; */
        height: 69.5px;
        font-size: 15px;
    }

    .header .logoName:hover {
        background-color: white;
    }

    .header .toggleIconContainer {
        display: none;
    }

    .header a {
        color: black;
        text-align: center;
        padding: 20px 10px 8px 10px;
        text-decoration: none;
        font-weight: 400;
    }

    .header .logoName {
        font-size: 25px;
        font-weight: 500;
        padding: 10px 10px 18px 10px;
    }

    .header a:hover {
        background-color: rgb(174, 172, 172);
        color: black;
    }

    .header .searchIconContainer {
        display: none;
    }

    .header .loginIcon {
        display: none;
    }

    .header a.active {
        background-color: #04AA6D;
        color: white;
    }

    #dropdown-basic {
        background-color: white;
        color: black;
        border: 1px solid white;
    }

    .hiddenUserName {
        width: 100px;
        text-align: right;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 576px) {
    .header {
        overflow: hidden;
        height: 65.5px;
        display: flex;
    }

    .header a {
        color: black;
        text-align: center;
        padding: 12px 10px;
        text-decoration: none;
        font-weight: 400;
    }

    .header button.notActiveButton {
        background-color: white;
        border: none;
    }

    .header button.activeButton {
        background-color: gainsboro;
    }

    .header .toggleIconContainer {
        width: fit-content;
        display: inline;
        position: absolute;
        top: 15px;
        left: 0;
    }

    .header .logoName {
        font-size: 25px;
        font-weight: 500;
        padding: 14px 10px;
    }

    .header .menu1 {
        display: none;
    }

    .header .menu2 {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 55px;
        left: 0;
        background-color: gainsboro;
    }

    .header .searchIconContainer {
        display: none;
    }

    .header .Search1 {
        display: none;
    }

    .header .Search2 {
        position: absolute;
        height: 50px;
        top: 285px;
        left: 0;
        background-color: gainsboro;
    }

    .header .cart {
        width: fit-content;
        display: inline;
        position: absolute;
        top: 5px;
        right: 60px;
    }

    .header .loginIcon {
        width: fit-content;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 5px;
        right: 10px;
    }

    .header .username {
        width: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0;
    }

    .header .btn {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .hiddenUserName {
        width: 35px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
    .header {
        overflow: hidden;
        height: 65.5px;
        display: flex;
    }

    .header a {
        color: black;
        text-align: center;
        padding: 12px 10px;
        text-decoration: none;
        font-weight: 400;
    }

    .header .logoName {
        font-size: 25px;
        font-weight: 500;
        padding: 14px 10px;
    }

    .header button.notActiveButton {
        background-color: white;
        border: none;
    }

    .header button.activeButton {
        background-color: gainsboro;
    }

    .header .toggleIconContainer {
        width: fit-content;
        display: inline;
        position: absolute;
        top: 15px;
        left: 0;
    }

    .header .menu1 {
        display: none;
    }

    .header .menu2 {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 55px;
        left: 2px;
        background-color: gainsboro;
    }

    .header .searchIconContainer {
        width: fit-content;
        display: inline;
        position: absolute;
        top: 17px;
        right: 115px;
    }

    .searchButton {
        border: none;
        background-color: white;
    }

    .header .Search1 {
        display: none;
    }

    .header .Search3 {
        position: absolute;
        width: 200px;
        right: 170px;
        top: 10px;
    }

    .header .cart {
        width: fit-content;
        display: inline;
        position: absolute;
        top: 5px;
        right: 60px;
    }

    .header .loginIcon {
        width: fit-content;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 5px;
        right: 10px;
    }

    .header .username {
        width: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0;
    }

    .header .btn {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .hiddenUserName {
        width: 35px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}